body{
    font-family: Arial,  sans-serif;
}

.header{
    padding: 10px 16px;
    background: lightskyblue;
    color: #505050;
    text-align: center;
    transition: margin-left .3s;
}
.side-menu{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left:0;
    background-color: lightskyblue;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 20px;
    outline: lightslategray;
}

.side-menu a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:#505050;
    display: block;
    transition: .3s;
}

.side-menu a:hover{
    color: #f1f1f1;
}

.creationPage {
    transition: margin-left .3s;
    padding: 16px;
}

.creator{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    text-align: center;
    padding: 50px 50px;
    border-color: lightskyblue;
    border-style: solid;
    border-width: thick;
    border-radius: 30px;
    background-color: white;
    height: 470px;
}

.pictureStuff
{
    width: 17%;
    margin-top: 30px;
    display: inline-block;
    float: left;
}

.picture
{
    width: 98%;
    padding: 100px 0;
    margin-bottom: 10px;
    border-color: black;
    display: none;
    float: left;
}

.eventInfo
{
    background-color: white;
    margin-top: 30px;
    margin-left: 1%;
    width: 80%;
    height: 370px;
    border: black;
    display: inline-block;
    float: left;
    border-width: thin;
    border-color: slategray;
    border-style: solid;
}

.textbox
{
    margin-left: 20px;
    display: inline-block;
}

.details
{
    margin-left: 20px;
}

.details, .textbox
{
    float: left;
    margin-top: 14px;
}



.event{
    list-style-type: none;
    text-align: center;

}

button.create{
    width: 100%;
    padding: 12px 10px;
    border: none;
    font-size: 18;
    border-radius: 30px;
    background-color: lightskyblue;
    color: white;
    margin-bottom: 5px;
    margin-top: 10px;
}

.create:hover
{
    opacity: .6;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#photo
{
    float: left;
}
