*{
    font-family: Arial, sans-serif;
}
body{
    background-color:lightskyblue ;
}

.login-div{
    margin: 100px auto;
    width: 350px;
    background-color: white;
    padding: 60px;
    border-radius: 5%;
}

.logo{
    background-color: lightskyblue;
    width: 150px;
    height: 150px;
    border-radius: 25%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.title, .sub-title{
    text-align: center;
    color: #505050;
}

.title{
    font-weight: bolder;
    font-size: 35px;
}

.sub-title{
    font-size: 18px;
}

.form{
    width: 100%;
    margin-top: 30px;
}

.form input{
    font-size: 18px;
    padding: 10px 20px 10px 5px;
    border: none;
    outline: none;
    background: none;
}

.username, .password{
    display: block;
    border-radius: 30px;
    border:1px solid slategray;
    padding: 10px;
    margin: 10px 0;
}

.options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0px;
    margin-bottom: 30px;
}

.remeber-me{
    color: 505050;
}

button.signin-btn{
    width: 100%;
    padding: 12px 10px;
    border: none;
    font-size: 18;
    border-radius: 30px;
    background-color: lightskyblue;
    color: white;
    margin-bottom: 5px;
}

.sign-up{
    text-align: center;
}

a{
    text-decoration: none;
    color: 505050;
}